<h3>Welcome to Elearn</h3>
<p>
  Elearn is a simple and free online learning platform.
  Instructors can create courses and students can register for courses which
  include assingnments, quizes and support forums.
</p>
<a href="/users/register" class="button">Sign Up Free</a>
<p>You need to signup to register for free classes</p>
